/* Font-family start*/ 
@font-face{
    font-family: MuseoSans-100;
    src:url("../fonts/MuseoSans-100.eot");
}
@font-face{
    font-family: MuseoSans-100;
    src:url("../fonts/MuseoSans-100.otf");
}
@font-face{
    font-family: MuseoSans-300;
    src:url("../fonts/MuseoSans-300.eot");
}
@font-face{
    font-family: MuseoSans-300;
    src:url("../fonts/MuseoSans-300.otf");
}
@font-face{
    font-family: MuseoSans_500;
    src:url("../fonts/MuseoSans-500.eot");
}
@font-face{
    font-family: MuseoSans_500;
    src:url("../fonts/MuseoSans_500.otf");
}
/* CSS start*/ 
.container-fluid{
    width:100%;
    height:auto;
}
.container{
    margin: 0 auto;
    width:1160px;
    height:auto;
}
.pull-left{
    float:left; 
}
.pull-right{
    float:right;
}
.text-center{
    text-align: center;
}
.text-white{
    color:white;
}
.fix{
    overflow:hidden;
}
/* Top bar start*/ 
.topbar_wrapper {
    padding:5px 0;
}
.topbar {
}
.contact {
    font-size:12px;
    font-family:MuseoSans-300;
}
.phone {
    margin-right: 20px;
}
.phone > p{   
}
.phone > p > img{
    width:7px;
    margin-top: -4px;
}  
.email {
}
.email > p {
    font-size: 13px;
    margin-top: 10px;
}
.email > p > img{
    width:13px;
}
.top_menu {
    padding-top:15px;
}
.top_menu > ul {
   list-style: none;
   margin:0;
   padding:0;
}
.top_menu > ul> li{
    display:inline-block;
    margin-left: 20px;
}
.top_menu > ul> li> a{
    display:block;
    text-decoration: none;
    color:#333;
    font-family:MuseoSans-300;
    font-size: 14px;
}
.top_menu > ul> li> a:hover{
    color:#666;
}
/* Header start*/ 
.header_wrapper {
    background: #f5f6f1;
    padding: 60px 0px;
    margin-bottom: 40px;
}
.header {
}
.logo {
    margin-right: 230px;
}
.logo_text {  
}
.logo_text > p {
    font-size: 12px;
    font-weight: 600;
    font-family:MuseoSans-300;
    margin:0;
}
.logo_text > h1{
    font-family:fantasy;
    color:#463f3a;
    font-size:44px;
    margin:0;
    font-weight: bold;
    line-height: 35px;
}
.logo_icon {
}
.logo_icon > img {
    padding-top: 0px;
    padding-left: 10px;
}
.navigation {
        padding-top: 15px;
}
.navigation > ul {
    list-style: none;
    margin:0;
    padding:0;
}
.navigation > ul > li{
    display:inline-block;
    margin-left: 10px;
}
.navigation > ul > li > a{
    display: block;
    color:#444;
    text-decoration: none;
    font-family:MuseoSans_500;
}
.navigation > ul > li > a:hover{
   color:#666; 
}
.slash {
    color:#f55856;
    font-weight: bold;
}
.cart {
}
.cart_text {
    margin-right: 15px;
}
.cart_text > p {
    margin:0;
    font-family:MuseoSans-300;
    color:#333;
}
.cart_text > h4 {
    margin:0;
    color:#222;
}
.cart_icon {
}
.cart_icon > img {
        width: 40px;
        padding-top:5px;
}
/* Slider start*/ 
.slider_wrapper {
        margin-bottom: 40px;
}
.slider {
}
.slider_back {
    position:relative;
}
.slider_back > img{
    width:100%;
}
.slider_text {
    position: absolute;
    top: 80px;
    left: 100px;
}
.slider_text > ul{
    list-style: none;
    margin:0;
    padding:0;
}
.slider_text > ul > li{
}
.slider_text > ul > li > a{
    display:block;
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 61px;
    font-weight: bold;
}
.slider_text > ul > li > a:hover{
}
.slider_image {
    position: absolute;
    top:170px;
    right:0;
}
/* Service start*/ 
.services_wrapper {
    margin-bottom: 40px;
}
.services {
}
.service {
    background: #f5f6f1;
    margin-right: 30px;
    padding:20px;
    width:326px;
    text-align: center;
}
.service:last-child {
    background: #f5f6f1;
    margin-right: 0px;
    padding:20px;
    width:326px;
    text-align: center;
}
.service > h1 {
    color:#463f3a;
    font-family: "Oswald", sans-serif;
    margin:0;
}
.service > p{
    font-family: MuseoSans-300;
    color:#463f3a;
    margin:0;
}
.service > p > a{
    font-family: MuseoSans_500;
    color:#f55856;
    margin:0;
    text-decoration: none;
}
/* Portfolio One start*/ 
.portfolio_one_wrapper {
    background: #f8f8f8;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 40px 0;
}
.portfolio_one { 
}
.heading_one {
    position: relative;
    background: url(../images/heading_thin_icon.png);
    height:7px;
    margin-bottom: 40px;
    line-height: 3px;
}
.heading_one > h1 {
    font-family: "Oswald",sans-serif;
    position:absolute;
    color:#463f3a;
    background: #f8f8f8;
    left:430px;
    top:-24px;
    padding:5px 5px;
}
.heading_one > img {
    width:100%;
    height:3px;
}
.one_wrapper {
    width:373px;
    margin-right: 20px;
}
.one_wrapper:last-child {
    width:373px;
    margin-right: 0px;
}
.one_wrapper > img {
    width: 100%;
}
.one {
    background: #ffffff;
    padding: 10px 20px;
}
.one > h1 {
    font-family: "Oswald",sans-serif;
    color:#463f3a;
    margin:0 0 12px 0;
}
.one > p {
    font-family: MuseoSans_500;
    color:#463f3a;
    margin:0 0 12px 0;
    font-style: italic;
}
.one > p > a{
    font-family: MuseoSans_500;
    font-style: normal;
    text-decoration: none;
    color:#f55856;
}
/* Portfolio Two start*/ 
.portfolio_two_wrapper {
    padding: 40px 0;
    margin: 0px 0 40px 0;
}
.portfolio_two {
}
.heading_two {
    position: relative;
    background: url(../images/heading_thin_icon.png);
    height:7px;
    margin-bottom: 40px;
    line-height: 3px;
}
.heading_two > h1 {
    font-family: "Oswald",sans-serif;
    position:absolute;
    background:white;
    color:#463f3a;
    left:430px;
    top:-24px;
    padding:5px 5px;
}
.heading_two > img {
    width:100%;
    height:3px;
}
.two_wrapper {
    margin-right: 20px;
    width: 275px;
}
.two_wrapper:last-child {
    margin-right: 0px;
    width: 275px;
}
.two_wrapper > img {
    width: 100%;
}
.two {
}
.two > p{
    font-family: MuseoSans-300;
    color:black;
    margin:0;
    padding:10px 0;
}
.two > h4{
    font-family: MuseoSans_500;
    color: black;
    margin:0;
}
.two > p > a {
    text-decoration: none;
    color:#ffffff;
    background: #463f3a;
    display:block;
    text-align: center;
    padding: 5px 20px;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: bold;
}
/* Portfolio Three start*/ 
.portfolio_three_wrapper {
    background: #f8f8f8;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 0px 0 40px 0;
}
.portfolio_three {
}
.three {
}
.three_wrapper {
    margin-right: 20px;
    width: 275px;
}
.three_wrapper:last-child {
    margin-right: 0px;
    width: 275px;
}
.three_wrapper > img {
    width: 100%;
}
.three > h4{
    font-family:MuseoSans_500;
    color: black;
    margin:0;
}
.three > p {
    font-family:MuseoSans-300;
    color:black;
    margin:0;
    padding:10px 0;
}
.three > p > a {
    text-decoration: none;
    color:#ffffff;
    background: #463f3a;
    display:block;
    text-align: center;
    padding: 5px 20px;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: bold;
}
/* Blog start*/ 
.blog_wrapper {
    padding: 40px 0;
    margin: 40px 0;
}
.blog { 
}
.heading_two {
    position: relative;
    background: url(../images/heading_thin_icon.png);
    height:7px;
    margin-bottom: 40px;
    line-height: 3px;
}
.heading_two > h1 {
    font-family: "Oswald",sans-serif;
    position:absolute;
    background:white;
    color:#463f3a;
    left:430px;
    top:-24px;
    padding:5px 5px;
}
.heading_two > img {
    width:100%;
    height:3px;
}
.four_wrapper {
    width:373px;
    margin-right: 20px;
}
.four_wrapper:last-child {
    width:373px;
    margin-right: 0px;
}
.four_wrapper > img {
    width: 100%;
}
.four {
    background: #ffffff;
    padding: 10px 20px;
}
.four > h4 {
    font-family: MuseoSans-300;
    color:#463f3a;
    margin:0 0 12px 0;
}
.four > p {
    font-family: MuseoSans_500;
    color:#463f3a;
    margin:0 0 12px 0;
    font-style: italic;
}
.four > p > a{
    font-family: MuseoSans_500;
    font-style: normal;
    text-decoration: none;
    color:#f55856;
}
/* Footer Top start*/ 
.footer_top_wrapper {
    background: #f2f2f0;
}
.footer_top {
}
.footer_top > h1 {
    margin:0;
    font-family: "Oswald",sans-serif;
    color:#463f3a;
    padding-top: 45px;
    font-size:35px;
}
.footer_top > p {
    margin:0;
    font-family: MuseoSans-300;
    color:#6c6c6c;
    padding: 0 0 35px;
}
.footer_top > p > a {
    text-decoration: none;
    color:#f55856;
}
/* Footer Middle start*/ 
.footer_middle_wrapper {
    background: #463f3a;
    padding: 40px 0px;
}
.footer_middle {
}
.f_logo {
    margin-right: 230px;
}
.f_logo_text {  
}
.f_logo_text > p {
    font-size: 9px;
    font-weight: 600;
    font-family:MuseoSans-300;
    margin:0;
}
.f_logo_text > h1{
    font-family:fantasy;
    font-size:34px;
    margin:0;
    font-weight: bold;
}
.f_logo_icon {
}
.f_logo_icon > img {
    padding-top: 7px;
    padding-left: 10px;
}
.f_navigation {
        padding-top: 25px;
}
.f_navigation > ul {
    list-style: none;
    margin:0;
    padding:0;
}
.f_navigation > ul > li{
    display:inline-block;
    margin-left: 10px;
}
.f_navigation > ul > li > a{
    display: block;
    color:#ffffff;
    text-decoration: none;
    font-family:MuseoSans_500;
}
.f_navigation > ul > li > a:hover{
   color:#eee; 
}
.f_navigation > p {
    font-size: 13px;
}
.top_icon {
    background: rgba(0,0,0,0.2);
    padding: 10px 15px 15px;
    margin-top: 25px;
}
.top_icon > img {
        padding-top:5px;
}
/* Footer Bottom start*/ 
.footer_bottom_wrapper {
    padding: 15px 0;
    background:#eeeeee;
}
.footer_bottom {
    
}
.social {
}
.social > ul {
    margin:0;
    padding:0;
    list-style: none;
}
.social > ul > li {
    display: inline-block;
    margin-right: 12px;
}
.social > ul > li > a{
}
.social > ul > li > a:hover {
}
.copyright{  
}
.copyright > p{
    margin: 0;
    font-family: MuseoSans-300;
    font-size: 14px;
}
.copyright > p > a{  
    text-decoration: none;
    color:#f55856;
    font-family: MuseoSans_500;
}